body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: black;
    overflow-y: auto;
    overflow-x: auto;

    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header button {
    width: 10rem;
}

#content{
    background-color: bisque;
    display: flex;
    justify-content: center;
}

#content .homewrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;

}

.homewrapper img {
    width: 400px;
    height: auto;
}

.homepara {
    text-align: center;
    font-size: 18pt;
    width: 40rem;
}

.footer {
    background-color: brown;
}