body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: black;
    overflow-y: auto;
    overflow-x: auto;

    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header button {
    width: 5rem;
}

#content {
    background-color: bisque;
}

.footer {
    background-color: brown;
}