body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: black;
    overflow-y: auto;
    overflow-x: auto;

    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
}

header {
    background-color: rgb(12, 118, 118);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header button {
    width: 10rem;
}

#content{
    background-color: rgb(173, 134, 85);
    display: flex;
    justify-content: center;
}

#content .homewrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;

}

.homewrapper img {
    width: 400px;
    height: auto;

    
}

.homepara {
    text-align: center;
    font-size: 18pt;
    width: 40rem;
}

.menuWrapper {
    padding: 2rem;
    width: 1000px;
}

.menuTitle {
    font-size: 40pt;
    margin-bottom: 2rem;
    text-align: center;
}

.menuItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 150px;
    gap: 2rem;
    justify-content: center;
}

.menuItems .item {
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(237, 206, 166);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.contactWrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contactHeader {
    font-size: 32pt;
    width: 60rem;
}

.contactInfo {
    font-size: 20pt;
    padding: 2rem;
    border: solid 5px black;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.footer {
    background-color: rgb(101, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
}